<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- link Quizz Css -->
    <link rel="stylesheet" type="text/css" href="./quiz/quiz.css">
    <title>Quiz menu</title>
    <style>
        body {
            background-image: url(/images/quizicon.gif);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            height: 100%;
        }
    </style>

</head>
<body>

    <!--? Quiz -->
    <div class="start-screen">
        <button id="start-button">Quiz</button>
    </div>
    <div id="display-container">
        <div class="header">
            <div class="number-of-count">
                <span class="number-of-question">
                    1 Sampai 10 Soal
                </span>
            </div>
            <div class="timer-div">
                <img src="/images/icon.png" alt="" width="20px">
                <span class="time-left">10s</span>
            </div>
        </div>
        <div id="container">
            <!-- questions dan options function JS -->
        </div>
        <button id="next-button">Berikutnya</button>
    </div>
    <div class="score-container hide">
        <div id="user-score">Demo score</div>
        <button id="restart">Coba Lagi?</button>
        <button id="back-home"><a style="text-decoration: none;" href="/index.html">Beranda</a></button>
    </div>
    <!--? Quiz -->

    <script src="./quiz/quiz.js"></script>
</body>
</html>